absl-py==2.1.0
accelerate==0.32.1
aiofiles==23.2.1
aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
alembic==1.14.1
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.7.0
appdirs==1.4.4
aspose-3d==24.12.0
asttokens # Was: @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1733250440834/work
async-timeout==5.0.1
attrs==24.2.0
backcall # Was: @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
blis==0.7.11
catalogue==1.0.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpathlib==0.20.0
cmake==3.31.1
colorlog==6.9.0
comm # Was: @ file:///home/conda/feedstock_root/build_artifacts/comm_1733502965406/work
ConceptNet==5.7.0
conceptnet-lite==0.2.0
confection==0.1.5
ConfigArgParse==1.7
connection_pool==0.0.3
contourpy==1.3.0
cycler==0.12.1
cymem==2.0.10
datasets==3.3.2
datrie==0.8.2
debugpy # Was: @ file:///croot/debugpy_1736267418885/work
decorator # Was: @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
dhg==0.9.4
diff-gaussian-rasterization # Was: @ file:///home/s414e2/CJH/Text-to-3D/LucidDreamer/submodules/diff-gaussian-rasterization (Likely a local package)
diffusers==0.18.2
dill==0.3.8
docker-pycreds==0.4.0
docutils==0.21.2
dpath==2.2.0
einops==0.8.1
en_core_web_sm==2.3.0 # From filename en_core_web_sm-2.3.0.tar.gz
entrypoints # Was: @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
eval_type_backport==0.2.0
exceptiongroup==1.2.2
executing # Was: @ file:///home/conda/feedstock_root/build_artifacts/executing_1733569351617/work
fastapi==0.115.6
fastjsonschema==2.21.1
ffmpy==0.4.0
filelock==3.16.1
fire==0.5.0
flatbuffers==24.3.25
fonttools==4.55.2
frozenlist==1.5.0
fsspec==2024.10.0
ftfy==6.3.1
gitdb==4.0.11
GitPython==3.1.43
gradio==4.8.0
gradio_client==0.7.1
greenlet==3.1.1
grpcio==1.68.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.25.2
humanfriendly==10.0
humanize==4.11.0
idna==3.10
imageio==2.31.1
imageio-ffmpeg==0.5.1
imgaug==0.4.0
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipykernel # Was: @ file:///home/conda/feedstock_root/build_artifacts/ipykernel_1719845459717/work
ipython # Was: @ file:///home/conda/feedstock_root/build_artifacts/ipython_1680185408135/work
jax==0.4.30
jaxlib==0.4.30
jedi # Was: @ file:///home/conda/feedstock_root/build_artifacts/jedi_1733300866624/work
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-client # Was: @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter_core # Was: @ file:///home/conda/feedstock_root/build_artifacts/jupyter_core_1727163409502/work
kiwisolver==1.4.7
langcodes==3.5.0
language_data==1.3.0
lazy_loader==0.4
lit==18.1.8
lmdb==1.5.1
locate==1.1.1
Mako==1.3.9
marisa-trie==1.2.1
Markdown==3.7
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.3
matplotlib-inline # Was: @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1733416936468/work
mdurl==0.1.2
mediapipe==0.10.18
ml_dtypes==0.5.0
mpmath==1.3.0
msgpack==1.1.0
msgpack-python==0.5.6
multidict==6.1.0
multiprocess==0.70.16
murmurhash==1.0.11
mypy-extensions==1.0.0
narwhals==1.16.0
nbformat==5.10.4
nest_asyncio # Was: @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1733325553580/work
networkx==3.2.1
numpy==1.26.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.5.0.96
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.2.10.91
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.4.91
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.14.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.7.91
nvidia-nvtx-cu12==12.1.105
omegaconf==2.3.0
opencv-contrib-python==4.10.0.84
opencv-python==4.11.0.86
opt_einsum==3.4.0
optuna==4.2.1
ordered-set==4.1.0
orjson==3.10.12
packaging # Was: @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas==2.2.3
parso # Was: @ file:///home/conda/feedstock_root/build_artifacts/parso_1733271261340/work
peewee==3.17.8
pexpect # Was: @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1733301927746/work
pickleshare # Was: @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1733327343728/work
pillow==10.4.0
pillow_heif==0.22.0
plac==1.1.0
platformdirs # Was: @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1733232627818/work
plyfile==0.8.1
point-e @ git+https://github.com/openai/point-e.git@fc8a607c08a3ea804cc82bf1ef8628f88a3a5d2f
preshed==3.0.9
prompt_toolkit # Was: @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache==0.2.1
protobuf==4.25.5
psutil # Was: @ file:///croot/psutil_1736367091698/work
psycopg2-binary==2.9.10
ptyprocess==0.7.0 # From filename ptyprocess-0.7.0-py2.py3-none-any.whl
PuLP==2.9.0
pure_eval # Was: @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1733569405015/work
pyarrow==19.0.1
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
pydub==0.25.1
Pygments==2.18.0
pyparsing==3.2.0
pyre-extensions==0.0.23
pySmartDL==1.3.4
python-dateutil # Was: @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-multipart==0.0.19
pytz==2024.2
PyYAML==6.0.2
pyzmq # Was: @ file:///croot/pyzmq_1734687138743/work
referencing==0.35.1
regex==2024.11.6
requests==2.32.3
reretry==0.11.8
rich==13.9.4
rpds-py==0.22.3
safetensors==0.4.5
scikit-image==0.22.0
scikit-learn==1.6.1
scipy==1.13.1
semantic-version==2.10.0
sentencepiece==0.2.0
sentry-sdk==2.19.2
setproctitle==1.3.4
shapely==2.0.7
shellingham==1.5.4
simple-knn # Was: @ file:///home/s414e2/CJH/Text-to-3D/LucidDreamer/submodules/simple-knn (Likely a local package)
six # Was: @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smart-open==7.0.5
smmap==5.0.1
snakemake==7.32.4
sniffio==1.3.1
sounddevice==0.5.1
spacy==2.3.9
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.38
srsly==1.0.7
stack_data # Was: @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1733569443808/work
starlette==0.41.3
stopit==1.1.2
sympy==1.13.1
tabulate==0.9.0
tensorboard==2.18.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
thinc==7.4.6
threadpoolctl==3.5.0
throttler==1.2.2
tifffile==2024.8.30
timm==1.0.14
tokenizers==0.21.0
toml==0.10.2
tomlkit==0.12.0
toposort==1.10
torch==1.13.1+cu117
torch-geometric==2.6.1
torchaudio==0.13.1+cu117
torchvision==0.14.1+cu117
tornado # Was: @ file:///home/conda/feedstock_root/build_artifacts/tornado_1648827245914/work
tqdm==4.67.1
traitlets # Was: @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1733367359838/work
transformers==4.47.1
triton==2.3.1
typer==0.15.1
typing-inspect==0.9.0
typing_extensions # Was: @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata==2024.2
urllib3==2.2.3
uvicorn==0.32.1
vision-transformer==1.0.0
wandb==0.19.0
wasabi==0.10.1
wcwidth # Was: @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
weasel==0.4.1
websockets==11.0.3
Werkzeug==3.1.3
wordfreq==3.1.1
wrapt==1.17.0
xformers==0.0.16
xmltodict==0.11.0
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0